In [2]:
import pandas as pd

In [3]:
states = ["PA", "OH", "GA"]

In [4]:
df = pd.DataFrame()
counter = 0
with pd.read_csv(
    "C:\\Users\\nicho\\Downloads\\prescription_data.zip",
    # delimiter="\t",
    chunksize=2_500_000,
    iterator=True,
    low_memory=False,
    usecols=[
        "BUYER_STATE",
        "BUYER_COUNTY",
        "QUANTITY",
        "NDC_NO",
        "DRUG_NAME",
        "TRANSACTION_DATE",
        "UNIT",
        "STRENGTH",
        "DOSAGE_UNIT",
        "CALC_BASE_WT_IN_GM",
        "MME_Conversion_Factor",
        "Measure",
        "dos_str",
    ],
    parse_dates=["TRANSACTION_DATE"],
) as reader:
    for chunk in reader:
        df = pd.concat(
            [df, chunk.loc[chunk.loc[:, "BUYER_STATE"].isin(states), :]],
            ignore_index=True,
        )
        counter += 1
        print(f"Chunk {counter} has {len(chunk)} rows")

Chunk 1 has 2500000 rows
Chunk 2 has 2500000 rows
Chunk 3 has 2500000 rows
Chunk 4 has 2500000 rows
Chunk 5 has 2500000 rows
Chunk 6 has 2500000 rows
Chunk 7 has 2500000 rows
Chunk 8 has 2500000 rows
Chunk 9 has 2500000 rows
Chunk 10 has 2500000 rows
Chunk 11 has 2500000 rows
Chunk 12 has 2500000 rows
Chunk 13 has 2500000 rows
Chunk 14 has 2500000 rows
Chunk 15 has 2500000 rows
Chunk 16 has 2500000 rows
Chunk 17 has 2500000 rows
Chunk 18 has 2500000 rows
Chunk 19 has 2500000 rows
Chunk 20 has 2500000 rows
Chunk 21 has 2500000 rows
Chunk 22 has 2500000 rows
Chunk 23 has 2500000 rows
Chunk 24 has 2500000 rows
Chunk 25 has 2500000 rows
Chunk 26 has 2500000 rows
Chunk 27 has 2500000 rows
Chunk 28 has 2500000 rows
Chunk 29 has 2500000 rows
Chunk 30 has 2500000 rows
Chunk 31 has 2500000 rows
Chunk 32 has 2500000 rows
Chunk 33 has 2500000 rows
Chunk 34 has 2500000 rows
Chunk 35 has 2500000 rows
Chunk 36 has 2500000 rows
Chunk 37 has 2500000 rows
Chunk 38 has 2500000 rows
Chunk 39 has 2500000 rows
Chunk 40 has 2500000 rows
Chunk 41 has 2500000 rows
Chunk 42 has 2500000 rows
Chunk 43 has 2500000 rows
Chunk 44 has 2500000 rows
Chunk 45 has 2500000 rows
Chunk 46 has 2500000 rows
Chunk 47 has 2500000 rows
Chunk 48 has 2500000 rows
Chunk 49 has 2500000 rows
Chunk 50 has 2500000 rows
Chunk 51 has 2500000 rows
Chunk 52 has 2500000 rows
Chunk 53 has 2500000 rows
Chunk 54 has 2500000 rows
Chunk 55 has 2500000 rows
Chunk 56 has 2500000 rows
Chunk 57 has 2500000 rows
Chunk 58 has 2500000 rows
Chunk 59 has 2500000 rows
Chunk 60 has 2500000 rows
Chunk 61 has 2500000 rows
Chunk 62 has 2500000 rows
Chunk 63 has 2500000 rows
Chunk 64 has 2500000 rows
Chunk 65 has 2500000 rows
Chunk 66 has 2500000 rows
Chunk 67 has 2500000 rows
Chunk 68 has 2500000 rows
Chunk 69 has 2500000 rows
Chunk 70 has 2500000 rows
Chunk 71 has 2500000 rows
Chunk 72 has 2500000 rows
Chunk 73 has 2500000 rows
Chunk 74 has 2500000 rows
Chunk 75 has 2500000 rows
Chunk 76 has 2500000 rows
Chunk 77 has 2500000 rows
Chunk 78 has 2500000 rows
Chunk 79 has 2500000 rows
Chunk 80 has 2500000 rows
Chunk 81 has 2500000 rows
Chunk 82 has 2500000 rows
Chunk 83 has 2500000 rows
Chunk 84 has 2500000 rows
Chunk 85 has 2500000 rows
Chunk 86 has 2500000 rows
Chunk 87 has 2500000 rows
Chunk 88 has 2500000 rows
Chunk 89 has 2500000 rows
Chunk 90 has 2500000 rows
Chunk 91 has 2500000 rows
Chunk 92 has 2500000 rows
Chunk 93 has 2104439 rows

In [ ]:
floatColumns = ["QUANTITY", "CALC_BASE_WT_IN_GM", "MME_Conversion_Factor", "STRENGTH", "DOSAGE_UNIT", "dos_str"]
for eachColumn in floatColumns:
    df[eachColumn] = df[eachColumn].astype("float64")

ValueError: could not convert string to float: 'D'

In [ ]:
df['TRANSACTION_DATE'] = pd.to_datetime(df["TRANSACTION_DATE"], format = '%m%d%Y')

In [18]:
for eachState in states:
    df.loc[df.loc[:, "BUYER_STATE"] == eachState, df.columns[df.columns != "UNIT"]].to_parquet(
        "C:\\Users\\nicho\\Documents\\GitHub\\pds-2022-grey-team\\20_Intermediate_Files\\shipment"
        + eachState
        + ".parquet" , 
        engine = 'fastparquet'
    )

In [17]:
df.loc[df.loc[:, "BUYER_STATE"] == eachState, df.columns[df.columns != "UNIT"]]

,BUYER_STATE,BUYER_COUNTY,NDC_NO,DRUG_NAME,QUANTITY,STRENGTH,TRANSACTION_DATE,CALC_BASE_WT_IN_GM,DOSAGE_UNIT,Measure,MME_Conversion_Factor,dos_str
0,GA,TOWNS,00603388021,HYDROCODONE,1.0,0.0,2006-11-02,0.15135,100.0,TAB,1.0,2.5
1,GA,FULTON,00603388828,HYDROCODONE,1.0,0.0,2006-02-06,3.02700,500.0,TAB,1.0,10.0
2,GA,FULTON,60951079770,OXYCODONE,2.0,0.0,2006-02-21,1.79300,200.0,TAB,1.5,10.0
3,GA,FULTON,59011010710,OXYCODONE,1.0,0.0,2006-09-19,7.17200,100.0,TAB,1.5,80.0
4,GA,FULTON,00591350401,OXYCODONE,6.0,0.0,2007-02-22,43.03200,600.0,TAB,1.5,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8076720,GA,FULTON,00406853001,OXYCODONE,6.0,0.0,2009-03-12,16.13700,600.0,TAB,1.5,30.0
8076721,GA,FRANKLIN,00406851501,OXYCODONE,12.0,0.0,2009-02-02,16.13700,1200.0,TAB,1.5,15.0
8076722,GA,FANNIN,00591320301,HYDROCODONE,2.0,0.0,2009-10-26,0.90810,200.0,TAB,1.0,7.5
8076723,GA,FANNIN,00591054001,HYDROCODONE,2.0,0.0,2009-11-10,1.21080,200.0,TAB,1.0,10.0
8076724,GA,FANNIN,00406036105,HYDROCODONE,1.0,0.0,2010-01-14,3.02700,500.0,TAB,1.0,10.0

In [ ]:
# for chunk in pd.read_csv("~/Downloads/national_shipment_data.csv", chunksize=1000000):
#     chunk = chunk[chunk["BUYER_STATE"].isin(["GA"])][["BUYER_DEA_NO", "BUYER_STATE", "BUYER_COUNTY", "DRUG_CODE", "DRUG_NAME", "QUANTITY", "UNIT", "TRANSACTION_DATE", "DOSAGE_UNIT"]]
#     list.append(chunk)