In [38]:
import pandas as pd
import numpy as np

In [39]:
# Read in the data
df = pd.read_csv('../00_Source/merged_pop_drug_death.csv')
df.head()

         County  Year State  Deaths  Population  death_rate
0  Adams County  2009    PA    12.0    101252.0    0.000119
1  Adams County  2010    PA    10.0    101407.0    0.000099
2  Adams County  2012    OH    10.0     28288.0    0.000354
3  Adams County  2014    OH    10.0     28060.0    0.000356
4  Adams County  2015    IL    14.0     66850.0    0.000209

In [40]:
# subset for each state and their controls
flor_cont = df[df['State'].isin(['FL','PA','OH','GA'])].copy()
wash_cont = df[df['State'].isin(['WA','AZ','MD','WI'])].copy()
texas_cont = df[df['State'].isin(['TX','IL','NY','VA'])].copy()

# make sure the shapes from the 3 groups add up to the total in df
assert len(flor_cont) + len(wash_cont) + len(texas_cont) == len(df)

In [41]:
# indicator for each state depending on whether they had a policy enacted or not
flor_cont['case'] = np.where(flor_cont['State'] == 'FL', 'Policy', 'No policy')
wash_cont['case'] = np.where(wash_cont['State'] == 'WA', 'Policy', 'No policy')
texas_cont['case'] = np.where(texas_cont['State'] == 'TX', 'Policy', 'No policy')
flor_cont.head()

         County  Year State  Deaths  Population  death_rate       case
0  Adams County  2009    PA    12.0    101252.0    0.000119  No policy
1  Adams County  2010    PA    10.0    101407.0    0.000099  No policy
2  Adams County  2012    OH    10.0     28288.0    0.000354  No policy
3  Adams County  2014    OH    10.0     28060.0    0.000356  No policy
5  Adams County  2015    OH    13.0     27919.0    0.000466  No policy

In [47]:

# another indicator for when policy took effect(pre/post)

flor_cont['policy'] = np.where(flor_cont['Year'] >= 2010, 'post', 'pre')
wash_cont['policy'] = np.where(wash_cont['Year'] >= 2011, 'post', 'pre')
texas_cont['policy'] = np.where(texas_cont['Year'] >= 2007, 'post', 'pre')

In [48]:
flor_cont.head()

         County  Year State  Deaths  Population  death_rate       case policy
0  Adams County  2009    PA    12.0    101252.0    0.000119  No policy    pre
1  Adams County  2010    PA    10.0    101407.0    0.000099  No policy   post
2  Adams County  2012    OH    10.0     28288.0    0.000354  No policy   post
3  Adams County  2014    OH    10.0     28060.0    0.000356  No policy   post
5  Adams County  2015    OH    13.0     27919.0    0.000466  No policy   post

In [49]:
# mean death per 100,000 interventions 
flor_cont.groupby(['case','policy'])['death_rate'].describe()

                  count      mean       std       min       25%       50%  \
case      policy
No policy post    650.0  0.000186  0.000092  0.000047  0.000117  0.000170
          pre     502.0  0.000123  0.000062  0.000027  0.000077  0.000109
Policy    post    217.0  0.000149  0.000064  0.000039  0.000105  0.000141
          pre     233.0  0.000143  0.000059  0.000039  0.000102  0.000141

                       75%       max
case      policy
No policy post    0.000230  0.000572
          pre     0.000153  0.000455
Policy    post    0.000186  0.000408
          pre     0.000176  0.000359

In [45]:
wash_cont.groupby(['case','policy'])['death_rate'].describe()
# seing the same trend for washington

                  count      mean       std       min       25%       50%  \
case      policy
No policy post    185.0  0.000157  0.000075  0.000044  0.000106  0.000141
          pre     222.0  0.000117  0.000066  0.000019  0.000072  0.000104
Policy    post     79.0  0.000139  0.000047  0.000057  0.000103  0.000135
          pre     119.0  0.000132  0.000054  0.000043  0.000090  0.000129

                       75%       max
case      policy
No policy post    0.000198  0.000512
          pre     0.000149  0.000402
Policy    post    0.000165  0.000264
          pre     0.000160  0.000307

In [46]:
texas_cont.groupby(['case','policy'])['death_rate'].describe()

                  count      mean       std       min       25%       50%  \
case      policy
No policy post    543.0  0.000131  0.000087  0.000031  0.000079  0.000108
          pre     140.0  0.000107  0.000099  0.000008  0.000055  0.000076
Policy    post    320.0  0.000103  0.000050  0.000018  0.000072  0.000095
          pre     110.0  0.000100  0.000066  0.000014  0.000060  0.000090

                       75%       max
case      policy
No policy post    0.000153  0.000689
          pre     0.000113  0.000578
Policy    post    0.000122  0.000355
          pre     0.000114  0.000427